.caja-pricipal-btnusuario{
    position: relative;
    top: 525px;
    left: 100px;
/*     background-color: darkcyan; */ 
    width: 275px;
    height: 400px;
}

.caja-botn-twitear-btnusuario{
    display: flex;
    justify-content: center;
    height: 50px;
/*     background-color: aqua;  */
}
.botn-twitear-btnusuario{
    height: 50px;
    width: 220px;
    border-radius: 100px;
    background-color: #00aeeec9;
    border: none;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-size: x-large;


}

.caja-usuario-btnusuario{
    margin-top: 20px;
    height: 80px;
   /*  background-color: rgb(81, 255, 0);  */ 
}

.foto-perfil-btnusuario{
    height: 80px;
    width: 80px;
    border-radius: 100px;

}

.caja-foto-btnusuario{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.caja-usuario-btnusuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
/*      background-color: rgb(255, 128, 0);   */

}

.caja-usuario-btnusuarioo{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
/*     background-color: aqua; */
}


.usuario-tiempo-btnusuario{
    display: flex;
    flex-direction: column;
    width: 170px;
}


.nombre-btnusuario{
    margin-top: 0px;
}

.usuario-btnusuario{
    margin-top: 0px;
}