.caja-trend{
    
    margin:40px auto 0px auto;
    height: 450px;
    width: 300px;
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
}

.qep-asidec{
    position: relative;
    top: 10px;
    margin-left: 20px;
}

.directo-asidec{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
/*     background-color: crimson; */
}

.caja-titulo-directo-asidec{
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
/*     background-color: rgb(143, 220, 20); */
}

.contenido-directo-asidec{
    display: flex;
    align-items: center;
    flex-direction: row;
/*     background-color: rgb(220, 157, 20); */
}

.foto-directo-asidec{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.texto-directo-asidec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
/*     background-color: aqua; */
}   
.caja-foto-directo-asidec{
    display: flex;
    align-items: center;
    height: 50px;
    width: 20%;
  /*   background-color: rgb(225, 255, 0); */
}

.mostrar-mas{
    font-weight: lighter;
/*     color: deepskyblue; */
}