
.caja-titulo-directo-asidec{
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
/*     background-color: rgb(143, 220, 20); */
}

.contenido-directo-asidec{
    display: flex;
    align-items: center;
    flex-direction: row;
/*     background-color: rgb(220, 157, 20); */
}

.foto-directo-asidec{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}